

.teacher{
  padding-top: 50px;
  padding-left: 20px;
}

.teacher .searchTeacherBar{
  width: 60%;

}

/* Course Card Mini Horizontal */

.course-card-mini-horizontal {
  border: 1px solid black;
  width: 390px;
  height: 150px;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
}

.course-card-mini-horizontal .description {
  height: 149px;
  width: 250px;
  padding-left: 20px;
}

.teacher .searchTeacherBar {
  width: 60%;

}

/* Course Card Mini Horizontal */

.course-card-mini-horizontal {
  border: 1px solid black;
  width: 390px;
  height: 150px;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
}

.course-card-mini-horizontal .description {
  height: 149px;
  width: 250px;
  padding-left: 20px;
}

.course-card-mini-horizontal .pic {
  width: 140px;
  height: 149px;
  background-color:#6b6b6b;
}

.course-card-mini-horizontal .top {
  height: 100px;
  width: 240px;
  text-align: start;
  margin-top: 10px;
}

.course-card-mini-horizontal .bot {
  padding-top: 8px;
  height: 39px;
  background-color: #3120ca;
  text-align: start;
  margin-left: -20px;
}

.course-card-mini-horizontal .text {
  margin-left: 20px;
  color: #ffffff;
}


/* Search Page */

.search-page .search-scroll {
  overflow-x: scroll;
  display: flex;
  margin-left: -200px;
  margin-bottom: 50px;
  width: 1500px;
  background-color: #D3EBFF;
  padding-left: 25px;
  padding-top: 25px;
  height: 236px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

.course-card-mini-horizontal .top {
  height: 100px;
  width: 240px;
  text-align: start;
  margin-top: 10px;
}

.course-card-mini-horizontal .bot {
  padding-top: 8px;
  height: 39px;
  background-color: #3120ca;
  text-align: start;
  margin-left: -20px;
}

.course-card-mini-horizontal .text {
  margin-left: 20px;
  color: #ffffff;
}


/* Search Page */

.search-page .search-scroll {
  overflow-x: scroll;
  display: flex;
  margin-left: -200px;
  margin-bottom: 50px;
  width: 1500px;
  background-color: #D3EBFF;
  padding-left: 25px;
  padding-top: 25px;
  height: 236px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

/* Course Card Mini Horizontal */

.course-card-mini-horizontal {
  border: 1px solid black;
  width: 390px;
  height: 150px;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
}

.course-card-mini-horizontal .description {
  height: 149px;
  width: 250px;
  padding-left: 20px;
}

.course-card-mini-horizontal .pic {
  width: 140px;
  height: 149px;
  background-color:#6b6b6b;
}

.course-card-mini-horizontal .top {
  height: 100px;
  width: 240px;
  text-align: start;
  margin-top: 10px;
}

.course-card-mini-horizontal .bot {
  padding-top: 8px;
  height: 39px;
  background-color: #3120ca;
  text-align: start;
  margin-left: -20px;
}

.course-card-mini-horizontal .text {
  margin-left: 20px;
  color: #ffffff;
}


/* Search Page */

.search-page .search-scroll {
  overflow-x: scroll;
  display: flex;
  margin-left: -200px;
  margin-bottom: 50px;
  width: 1500px;
  background-color: #D3EBFF;
  padding-left: 25px;
  padding-top: 25px;
  height: 236px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

.search-page h3 {
  text-align: start;
  margin-left: -100px;
  margin-top: 20px;
}

.ccmh {
  
}

/* SearchTeacherBar */
.searchTeacherBar{
  display: flex;
  height: 40px;
}

#searchTeacher{
  min-width: 500px;
  border:solid 4px #FFAA06;
  border-radius: 30px;
}

.searchTeacherBar button{
  transform: translate(-150%);
  margin: 7px;
  box-sizing: border-box;
  border:none !important;
  place-items: center;
  align-items: center;
  display: flex;
}

.plus-img {
  width: 20px;
  height: 20px;
}

.plus-img {
  width: 20px;
  height: 20px;
}

.plus-img {
  width: 20px;
  height: 20px;
}


.plus-img {
  width: 40px;
  height: 40px;
}

.counter{
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.counter h1{
  font-size: 50px;
}

.counter button{
  font-size: 36px;
  width: 50px;
}

/* Loading Spinner */

.loading-spinner {
  z-index: 10000;
  position: fixed !important;
  width: 10rem !important;
  height: 10rem !important;
  border-width: 1rem !important;
  margin: 18% 44%;
  
  /* background-color: #000000 !important; */
}

/* Background */

.loading-background {
  position: fixed !important;
  z-index: 9999;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color:#000000 !important;
  opacity: .75 !important;
}

/* Homepage CSS */

.homepage {
  background: url('./img/bg-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  min-height: 100vh;
  color: white;
}

.app-logo {
  /* margin: px; */
  width: 25%;
}

.homepage h1 {
  font-size: 75px;
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 0 10% 0;
  display: flex;
  padding: 11.5% 0 40px;
  justify-content: space-between;
}

.app-stat {
  margin: 0 10% 0;
  display: flex;
  flex-wrap: wrap;
}

.sub-text {
  margin: 30px 0 0; 
}

.sub-text h2 {
  font-size: 40px;
  margin: 0;
}

.sub-text h2:nth-child(2) {
  margin-bottom: 70px;
}

.enter-btn {
  background-color: none;
}

.link-text {
  font-size: 30px;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  width: 50px;
  border: 3px white solid;
  border-radius: 10px;
}

.link-text:hover {
  background-color: rgba(255,255,255, 0.2);
  transition: background-color 0.5s;
  color: white;
}


/* Login */

.login{
  background: url('./img/bg-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  position: relative;
  min-height: 100vh;
  color: black;
  font-size: 23px;
}

.cardlogin{
  width: 70%;
  /* height: 40%; */
  border-radius: 29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  opacity: 0.75;
  display: flex;
}

#logo{
  margin-top: 50px;

}

.login-form{
  margin-right: 80px;
  font-size: 20px !important;
}

.login-form .input{
  padding: 10px;
  font-size: 20px !important;
}

.login-btn{
  width: 100% !important;
  border: none;
}

.createacc{
  font-size: 16px !important;
}
.stat-item {
  font-size: 30px;
  margin-right: 60px;
}

.stat-item p {
  font-weight: 100;
  margin: 0;
}

@media screen and (max-width: 1550px) {
  .app-logo {
    display: none;
  }
}

@media screen and (max-width: 763px) {
  .main-container {
    text-align: center;
  }
  .app-stat {
    justify-content: space-between;
  }
  .stat-item {
    margin-right: 0;
    text-align: center;
  }
}

/* Register */
.register-box{
  margin: 0 auto;
 justify-content: center;
 padding-left: 25%;
 padding-right: 25%;
 padding-top: 3%;
}

.register-box h1 {
  margin-top: 50px;
}

.register-btn{
  width: 96.5% !important;
  border: none;
}

.register{
  font-style: inherit;
  font-size: 20px;
}

.required-star{
  color: red;
}

/* Navbar Component */

.nav {
  z-index: 1000;
  position: fixed !important;
  background-color: #0078AA;
}

.navbar-brand {
  padding: 0 !important;
}

.nav-items {
  flex-direction: row;
}

.navbar {
  width: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.nav-item {
  margin-right: 20px;
}

.nav-icon {
  width: 25px;
  height: 25px;
}

.nav-app-icon {
  width: 45px;
  height: 45px;
  padding-right: 10px;
  box-sizing: content-box;
  border-right: 2.5px solid rgb(255, 255, 255);
  object-fit: contain;
}

.nav-login {
  box-sizing: content-box;
  padding-left: 15px;
  border-left: 2.5px solid rgb(255, 255, 255);
}

.navbar-nav {
  align-items: center;
  flex-direction: row !important;
}


.dropdown-toggle {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding-left: 15px !important;
  border-left: 2.5px solid rgb(255, 255, 255);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link {
  display: flex !important;
}

.nav-name {
  margin: 0 10px;
  color: white;
}

.nav-title {
  margin: 0;
  color: white;
}

/* Course Container */

.container-box {
  text-align: center;
  height: 66vh;
  background-color: #F2EECE;
  padding: 20px 17.5%;
  overflow: hidden;
  overflow-y: scroll;
}

.container-box::-webkit-scrollbar {
  width: 5px;
  margin: 10px;
}

.container-box::-webkit-scrollbar-track {
  background-color: #F2EECE;
}

.container-box::-webkit-scrollbar-thumb {
  background-color: #ca8020;
  border-radius: 5px;
}

.course-select-btn {
  display: flex;
  text-align: center;
}

.select-left {
  background-color: #F2EECE;
  margin: 0 10px 0 0;
  padding: 5px 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.not-select-left {
  background-color: white;
  margin: 0 10px 0 0;
  padding: 5px 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.not-select-left:hover {
  cursor: pointer;
}

.create-course-btn {
  margin: 30px auto 0;
  width: 20%;
  background-color: #FFAA06 !important;
  border: none;
}

/* Card List */
.card-list-box {
  width: 100%;
}

/* Card */

.course-card {
  border: #000000 solid 2px;
  margin-top: 30px;
  display: flex;
  height: 140px;
  background-color: white;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
}

.card-description {
  margin: 0;
  font-size: 0.9375rem;
  height: 55%;
  overflow: hidden;
}

.course-card-img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  background-color: #b8b8b8;
}

.course-text-left {
  padding: 10px 20px;
  text-align: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.course-text-right {
  padding: 10px 20px 10px 10px;
  text-align: right;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.course-text-right .favorite-btn {
  margin-left: auto;
}

.course-card-title h4{
  margin: 0;
}

.course-progress-bar {
  width: 100%;
  height: 7.5px;
  margin: 10px 0;
  display: flex;
}

.course-progress-fill {
  height: 100%;
  /* width: 20%; */
  background-color: #7CA1FF;
}

.course-progress-blank {
  height: 100%;
  /* width: 80%; */
  background-color: #D9D9D9;
}

/* Favorite Button */

.favorite-btn {
  width: 30px;
  height: 30px;
}


.favorite-btn:hover {
  cursor: pointer;
}

/* My Course Page */
.my-course {
  padding-top: 100px;
  margin: 0 10%;
}

.my-course h1 {
  margin-top: 5px;
}

/* CoursePayment */
.PaymentCard {
  padding-top: 5%;
}
.PaymentCard{
  padding-top: 4%;
}

.cost{
  text-align: right;
}

.paymentcard{
  /* border: #000000 solid 1px; */
  width: 1000px !important;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paymentcard h4 {
  margin-inline: 10px;
}

.nlink{
  color: #000000 !important;
  text-decoration: none !important;
}

.pay-btn {
  margin-top: 40px;
  width: 30%;
  margin-bottom: 3px;
  margin-inline: 40px;
}

.div-pay-btn {
  display: flex;
  justify-content: center;
}

.pay-btn{
  margin-top: 40px;
  border: none !important;
  width: 400px;
  justify-content: center;
  display: flex;
}

.pay-now-btn.btn {
  width: 350px;
  margin-top: 35px;
}

.div-pay-btn{
  width: 50%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
}


.payment-info-text {
  margin-left: 10%;
  margin: 20px 200px 90px;
}

/*Payment Methods*/
.payment-method {
  width: 1000px !important;
}

.bank-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bank-account {
  padding-left: 30px;
}

.enrolled-btn-row {
  display: flex ;
  justify-content: center;
  margin-top: 50px;
}

.enrolled-btn {
  width: 400px;
}

.modal-footer.Qr-footer{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-left: 50px;
}

/* School Detail Page */

.school-detail {
  padding-top: 55px;
}

.school-banner-box {
  width: 100%;
  height: 30vh;
  background-color: #354052;
  overflow: hidden;
  object-fit: contain;
}

.school-banner {
  margin: 0 auto;
}

.school-main{
  margin: 2.5% auto;
}

.school-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.school-add-favorite {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.description-teacher {
  margin-bottom: 20px;
}

.school-map {
  background-color: #354052;
}

.school-course-list {
  margin: 2.5% auto 5%;
}

.school-teacher-list {
  display: flex;
  height: 100px;
  width: 75%;
  overflow: hidden;
}

.row .teacher-item-link {
  margin: 0 0 15px 10px;
  padding: 0;
  width: 40px;
  height: 40px;
}

.user-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid black;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

/* Our Teachers Page */

.our-teachers {
  padding-top: 55px;
}

.our-teachers-title {
  text-align: center;
  margin: 2.5% 0;
}

.teacher-container {
  background-color: #FFF8CB;
  width: 60%;
  padding: 3.5% 0;
  border-radius: 50px;
  margin-bottom: 75px;
}

.teacher-container h3 {
  padding: 0 10%;
}

.teacher-box {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.teacher-card {
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.teacher-card h5 {
  margin-top: 10px;
  color: #000000;
}

.user-profile-big {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  border: black 2px solid;
}

/* Favorite Page */

.favorite-page {
  padding-top: 55px;
}

.favorite-page-container {
  margin: 50px auto;
}

/* School Editing */

.school-editing {
  font-style: inherit;
  font-size: 20px;
}

.school-editing-box {
  margin: 0 auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 75px;
}

.school-editing-box .form-label {
  padding: 0;
}

.school-editing-box h1 {
  margin-top: 50px;
}

.form-control {
  border: 2px solid black
}

/* My Profile */

.my-profile {
  padding-top: 55px;
  display: flex;
}

.my-profile-picture-box {
  background-color: #F2EECE;
  width: 35%;
  height: 100vh;
}

.my-profile-info {
  width: 65%;
  padding: 50px 7.5%;
}

.info-container .row:nth-of-type(1) {
  border-top: 1px solid rgb(196, 196, 196);
}

.info-container .row:nth-of-type(n) {
  border-bottom: 1px solid rgb(196, 196, 196);
}

.my-profile-info h5 {
  font-weight: 300;
}

.picture-container {
  width: 40%;
  margin: 0 auto;
}

.picture-container img {
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  margin: 0 auto;
}

.change-profile-btn {
  border: none;
  margin: 0 auto;
  width: 100%;
}

.edit-user-info-btn {
  border: none;
  width: 50%;
}

.link-change-password {
  text-align: end;
}

/* My Profile Edit */

.my-profile-edit {
  padding-top: 55px;
}

/* Change Password Page */

.change-password-page {
  padding-top: 55px;
}

.edit-save-btn,
.edit-cancel-btn {
  width: 100%;
}

/* School Register */

.school-register {
  padding-top: 55px;
}

.school-register-btn {
  width: 100%;
}

.reply-text {
  font-size: medium;
  text-align: center;
  color: rgb(148, 148, 148);
}

/* General Button Style (Link)*/

.link-btn-text {
  color: inherit;
  text-decoration: none;
}

/* School Payment */

.school-payment {
  padding-top: 55px;
}

.schoolpay-qr {
  width: 100px;
  height: 100px;
  background-color: #354052;
}

/* Course Detail */

.course-detail {
  padding-top: 55px;
}

.course-detail-img {
  height: 197px;
  width: 350px;
  border: 3px black solid;
  border-radius: 25px;
  object-fit: contain;
  overflow: hidden;
}

.course-detail-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.course-detail-text > * {
  height: 100%;
}

.right-course-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
}

.left-course-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-main-detail {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFF6BF;
}

.duration-list > * {
  margin: 0;
}


.course-teachers-box {
  margin-left: 20%;
}

.course-teacher-card {
  display: flex;
}

.course-teacher-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px black solid;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.course-teacher-link {
  text-decoration: none !important;
  color: #000000;
}

.classroom-manage {
  padding-top: 55px;
}

.add-classroom-btn {
  width: 100% !important;
  padding-left: 10px;
}

.classroom-table-txt {
  text-align: center;
}

.classroom-table-head {
  border-top: 1px solid rgb(223, 223, 223) !important;
}

.classroom-edit-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.classroom-manage-btns {
  display: flex;
  justify-content: space-between;
}

/* MySchool */

.schoolcards{
  display: flex;
}

.imgschool{
  justify-content: center;
  width: 300px;
  height: 220px;
}

.imgschool img{
  width: 200px;
  justify-self: center;
  justify-content: center;
}

.schoolcard{
  margin-top: 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 200px;
  height: 250px;
}

.SchoolBox {
  margin-top: 3%;
  
}

.schooladdcards{
  display: flex;
}

.imgaddschool img{
  width: 100px;
  justify-self: center;
  justify-content: center;
}

.imgaddschool{
  display: flex;
  width: 200px;
  height: 250px; 
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.myschool-img{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.MySchoolTitle{
  padding-top: 75px;
  text-align: center;
}

.school-manage-menu {
  display: flex;
  justify-content: center;
}

/* SchoolEditing */

.imgschooledit{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgschooledit img{
  width: 80px;
}

.textbox-schoolman{
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
}

.textbox-schoolman h3 {
  margin-left: 12px;
  margin-top: 22px;
  color: #000000 !important;
  text-decoration: none !important;
}

.textbox-myschool{
  height: 50px;
}

.textbox-myschool h4 {
  color: #000000 !important;
  text-decoration: none !important;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.teacher-man-title{
  padding-top: 75px;
  margin-left: 3%;
}

/* course creation ของไอตอง */
.CourseCreation {
  padding-top: 110px;
  padding-left: 300px;
  padding-right: 300px;
}

.CourseCreation .Element{
  padding-top: 10px;
}

.CourseCreation .FontText {
  font-size: 24px;
}

.Prob {
  color: red;
  font-size: 20px;
}

.Pair_Button {
  width: 300px;
}

.CourseCreation .temp {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Support ของไอตอง */
.Support {
  padding-top: 110px;
  padding-left: 300px;
}

.Support .box {
  margin-top: 18px;
  background-color: #EFB13A;
  width: 560px;
  height: 80px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.teacher-courses-box {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ABD9FF;
}
.courseslidebar{
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.courseslidebar::-webkit-scrollbar {
  /* width: 5px; */
  height: 10px;
  margin: 10px;
}

.courseslidebar::-webkit-scrollbar-track {
  background-color: #ABD9FF;
}

.courseslidebar::-webkit-scrollbar-thumb {
  background-color: #0069c0;
  border-radius: 5px;
}

/* Logo Edit ของไอตอง */
.LogoEdit .top{
  padding-top: 110px;
  padding-left: 50px;
  padding-right: 50px;
}

.LogoEdit .text {
  font-size: 28px;
}

.LogoEdit .header {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 12px;
}

.LogoEdit .logo {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.LogoEdit .banner {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.LogoEdit .bot {
  margin-top: 100px;
}

.LogoEdit .temp {
  display: flex;
  justify-content: center;
}

.LogoEdit .payment {
  margin-top: 40px;
  border-style: dotted;
  border-width: 1px;
  border-color: #000000;
  height: 500px;
  width: 800px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.LogoEdit .plus {
  height: 50px;
  width: 100px;
  margin-top: 10px;
}

.LogoEdit .payment .text {
  font-size: 20px;
  font-weight: normal;
}

.LogoEdit .upload {
  margin-top: 100px;
  margin-bottom: 20px;
}

/* CreatCourse ของไอตอง */

.CreatCourse {
  padding-left: 250px;
  padding-top: 110px;
}

.CreatCourse .header {
  font-size: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  margin-left: -50px;
}

.CreatCourse .text {
  font-size: 30px;
}

.CreatCourse .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
  /* background-color: #0069c0; */
  /* width: 200px;
  height: 200px; */
  text-align: center;
}

.CreatCourse .pic {
  width: 140px;
  height: 140px;
  background-color: #0078AA;
  margin-bottom: 10px;
  border-radius: 15px;
}

.CreatCourse .bot {
  margin-top: 20px;
  width: 1400px;
}

.CreatCourse .text1 {
  font-size: 20px;
}

/* Notification ของไอตอง */

.Noti {
  padding-top: 120px;
  padding-left: 200px;
}

.Noti .header {
  font-size: 40px;
  font-weight: bold;
}

.Noti .pic {
  width: 180px;
  height: 180px;
  background-color: #D9D9D9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Noti .bot {
  margin-top: 40px;
  padding-left: 50px;
}

.Noti .frame {
  height: 180px;
  width: 1400px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 25px;
}

.Noti .right {
  padding-left: 40px;
  padding-top: 20px;
}

.Noti .text1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Noti .text {
  height: 115px;
}

.Noti .date {
  color: #828282;
}

.dummy {

}

.schedule-page {
  padding-top: 100px;
  margin: 0 100px
}

.courseslidebar{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ABD9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card-mini{
  border: 1px solid;
  box-shadow: 2.5px 5px rgba(0, 0, 0, 0.35);
  background-color: white;
  width: 150px;
  height: 250px;
}

.course-img{
  width: 150px;
  margin-left: 50px;
}

.col-course-card-mini{
  /* margin: auto; */
  justify-content: center;
  display: flex;
}

.search-bar Input{
  width: 400px;
  border-radius: 20px;
}

.input-search{
  border-radius: 20px;
  width: 400px;
}

.search-bar Button{
  width: 38px;
  height: 38px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
}

.ban-btn{
  height: 40px;
}

.ch-box{
  padding-top: 15%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.txt-payed{
  padding-top: 3%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ch-box img{
  width: 20%;
}
.veri-all-cont{
  display:flex;
}
 
.email-box{
  justify-content: 'center';
}
.email-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:30vh;
  margin-bottom: 1vh;
  width: 200px;
}
.verify-text{
        justify-content: 'center';
        display: flex;
       
}
.verify-col{
  text-align: center;
}
/* Course Management */

.course-manage{
  padding-top: 70px;
  text-align: center;
}

.block-info {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  width: 300px;
  margin-top: 200px;
}

.course-manamge-menu {
  display: flex;
  justify-content: center;
}

/*Student Management*/

.stutdent-manage-title {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}

.studentCard {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  padding-right:5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(218, 216, 216);
  border-top: solid 1px rgb(218, 216, 216);
}

.student-title {
  line-height: 50%;
  margin-left: 10px;
}

.profile-pic-title {
  display: flex;
}

.collapse {
  visibility: visible;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-btn {
  margin-right: 20px;
  padding-inline: 25px !important;
}

.decline-btn {
  margin-right: 20px;
  padding-inline: 25px !important;
}

/*PopupNoti*/

.modal-body.Noti-body {
  padding: 10px !important;
}

.modal-footer.Noti-footer {
  display: flex;
  justify-content: space-evenly !important;
}

.noti-body {
  height: 300px;
  margin-top: 10px;
}

label{
  font-size: 20px;
  font-weight: 100px;
}

.select__control{
  width: 430px;
  margin-left: 20px;
}

.resent-style{

  color: grey;
  font-weight: lighter;
}
.resent-click{
  text-decoration:underline;
  color: rgb(116, 116, 244);
}


/* FullCalendar */
a.fc-col-header-cell-cushion {
  color: #000000;
  text-decoration: none;
}

a.fc-col-header-cell-cushion:hover {
  color: #000000;
}

/* Admin */

.admin-page {
  /* padding-top: 75px; */
  padding: 75px 300px;
}

.legends {
  display: flex;
  align-items: baseline;
}

.month-legend {
  margin-right: 5px;
  background-color: #FFAA06;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.total-legend {
  margin-right: 5px;
  background-color: #0078AA;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.dashboard {
  display: flex;
  justify-content: center;
}

.new-request-dashboard {
  margin-right: 20px;
  text-align: center;
  border-radius: 15px;
  padding: 40px 50px;
  color: white;
  background-color: #668197;
}

.account-stat-dashboard {
  text-align: center;
  display: flex;
  color: white;
}

.school-dashboard,
.course-dashboard,
.account-dashboard {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #0078AA;
}

.school-dashboard-btm,
.course-dashboard-btm,
.account-dashboard-btm {
  height: 55%;
  border-radius: 15px;
  padding: 20px 50px;
  background-color: #FFAA06;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.resent-click {
  text-decoration: underline;
  color: rgb(116, 116, 244);
}
