.counter{
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.counter h1{
  font-size: 50px;
}

.counter button{
  font-size: 36px;
  width: 50px;
}

/* Homepage CSS */

.homepage {
  background: url('./img/bg-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  min-height: 100vh;
  color: white;
}

.app-logo {
  /* margin: px; */
  width: 25%;
}

.homepage h1 {
  font-size: 75px;
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 0 10% 0;
  display: flex;
  padding: 11.5% 0 40px;
  justify-content: space-between;
}

.app-stat {
  margin: 0 10% 0;
  display: flex;
  flex-wrap: wrap;
}

.sub-text {
  margin: 30px 0 0; 
}

.sub-text h2 {
  font-size: 40px;
  margin: 0;
}

.sub-text h2:nth-child(2) {
  margin-bottom: 70px;
}

.enter-btn {
  background-color: none;
}

.link-text {
  font-size: 30px;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  width: 50px;
  border: 3px white solid;
  border-radius: 10px;
}

.link-text:hover {
  background-color: rgba(255,255,255, 0.2);
  transition: background-color 0.5s;
  color: white;
}


/* Login */

.login{
  background: url('./img/bg-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  position: relative;
  min-height: 100vh;
  color: black;
  font-size: 23px;
}

.cardlogin{
  width: 70%;
  /* height: 40%; */
  border-radius: 29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  opacity: 0.75;
  display: flex;
}

#logo{
  margin-top: 50px;

}

.login-form{
  margin-right: 80px;
  font-size: 20px !important;
}

.login-form .input{
  padding: 10px;
  font-size: 20px !important;
}

.login-btn{
  width: 100% !important;
  border: none;
}

.createacc{
  font-size: 16px !important;
}
.stat-item {
  font-size: 30px;
  margin-right: 60px;
}

.stat-item p {
  font-weight: 100;
  margin: 0;
}

@media screen and (max-width: 1550px) {
  .app-logo {
    display: none;
  }
}

@media screen and (max-width: 763px) {
  .main-container {
    text-align: center;
  }
  .app-stat {
    justify-content: space-between;
  }
  .stat-item {
    margin-right: 0;
    text-align: center;
  }
}

/* Register */
.register-box{
  margin: 0 auto;
 justify-content: center;
 padding-left: 25%;
 padding-right: 25%;
 padding-top: 3%;
}

.register-box h1 {
  margin-top: 50px;
}

.register-btn{
  width: 96.5% !important;
  border: none;
}

.register{
  font-style: inherit;
  font-size: 20px;
}

.required-star{
  color: red;
}

/* Navbar Component */

.nav {
  z-index: 1000;
  position: fixed !important;
  background-color: #0078AA;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  flex-direction: row;
}

.navbar {
  width: 100%;
}

.nav-item {
  margin-right: 20px;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.nav-app-icon {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  box-sizing: content-box;
  border-right: 2.5px solid rgb(255, 255, 255);
  object-fit: contain;
}

.nav-login {
  box-sizing: content-box;
  padding-left: 15px;
  border-left: 2.5px solid rgb(255, 255, 255);
}

.navbar-nav {
  align-items: center;
  flex-direction: row !important;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding-left: 20px !important;
  border-left: 2.5px solid rgb(255, 255, 255);
}

.nav-link {
  display: flex !important;
}

.nav-name {
  margin: 0 10px;
  color: white;
}

.nav-title {
  margin: 0;
  color: white;
}

/* Course Container */

.course-container {
  /* margin: 0 10%; */
}

.container-box {
  text-align: center;
  height: 66vh;
  background-color: #F2EECE;
  padding: 20px 17.5%;
  overflow: hidden;
  overflow-y: scroll;
}

.container-box::-webkit-scrollbar {
  width: 5px;
  margin: 10px;
}

.container-box::-webkit-scrollbar-track {
  background-color: #F2EECE;
}

.container-box::-webkit-scrollbar-thumb {
  background-color: #ca8020;
  border-radius: 5px;
}

.course-select-btn {
  display: flex;
  text-align: center;
}

.select-left {
  background-color: #F2EECE;
  margin: 0 10px 0 0;
  padding: 5px 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.not-select-left {
  background-color: white;
  margin: 0 10px 0 0;
  padding: 5px 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.not-select-left:hover {
  cursor: pointer;
}

.create-course-btn {
  margin: 30px auto 0;
  width: 20%;
  background-color: #FFAA06 !important;
  border: none;
}

/* Card List */
.card-list-box {
  width: 100%;
}

/* Card */

.course-card {
  border: #000000 solid 2px;
  margin-top: 30px;
  display: flex;
  height: 140px;
  background-color: white;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
}

.card-description {
  margin: 0;
  font-size: 0.9375rem;
  height: 55%;
  overflow: hidden;
}

.course-img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  background-color: #b8b8b8;
}

.course-text-left {
  padding: 10px 20px;
  text-align: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.course-text-right {
  padding: 10px 20px 10px 10px;
  text-align: right;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.course-text-right .favorite-btn {
  margin-left: auto;
}

.course-card-title h4{
  margin: 0;
}

.course-progress-bar {
  width: 100%;
  height: 7.5px;
  margin: 10px 0;
  display: flex;
}

.course-progress-fill {
  height: 100%;
  width: 20%;
  background-color: #7CA1FF;
}

.course-progress-blank {
  height: 100%;
  width: 80%;
  background-color: #D9D9D9;
}

/* Favorite Button */

.favorite-btn {
  width: 30px;
  height: 30px;
}


.favorite-btn:hover {
  cursor: pointer;
}

/* My Course Page */
.my-course {
  padding-top: 100px;
  margin: 0 10%;
}

.my-course h1 {
  margin-top: 5px;
}

/* CoursePayment */
.PaymentCard{
  padding-top: 4%;
}

.cost{
  text-align: right;
}

.paymentcard{
  /* border: #000000 solid 1px; */
  margin-top: 40px;
  padding: 50px;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pay-btn{
  background-color: #FFAA06 !important;
  margin-top: 40px;
  border: none !important;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3px;
}

.div-pay-btn{
  justify-content: center;
  align-items: center;
}

.payment-info-text{
  margin-left: 10%;
  margin-top: 2%;
  margin: 0 200px 100px;
}

/* School Detail Page */

.school-detail {
  padding-top: 75px;
}

.school-banner-box {
  width: 100%;
  height: 30vh;
  background-color: #354052;
  overflow: hidden;
  object-fit: contain;
}

.school-banner {
  margin: 0 auto;
}

.school-main{
  margin: 2.5% auto;
}

.school-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.school-add-favorite {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.description-teacher {
  margin-bottom: 20px;
}

.school-map {
  background-color: #354052;
}

.school-course-list {
  margin: 2.5% auto 5%;
}

.school-teacher-list {
  display: flex;
  height: 100px;
  width: 75%;
  overflow: hidden;
}

.row .teacher-item-link {
  margin: 0 0 15px 10px;
  padding: 0;
  width: 40px;
  height: 40px;
}

.user-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid black;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

/* Our Teachers Page */

.our-teachers {
  padding-top: 75px;
}

.our-teachers-title {
  text-align: center;
  margin: 2.5% 0;
}

.teacher-container {
  background-color: #FFF8CB;
  width: 60%;
  padding: 3.5% 0;
  border-radius: 50px;
  margin-bottom: 75px;
}

.teacher-container h3 {
  padding: 0 10%;
}

.teacher-box {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.teacher-card {
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.teacher-card h5 {
  margin-top: 10px;
  color: #000000;
}

.user-profile-big {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  border: black 2px solid;
}

/* Favorite Page */

.favorite-page {
  padding-top: 75px;
}

.favorite-page-container {
  margin: 50px auto;
}

/* School Editing */

.school-editing {
  font-style: inherit;
  font-size: 20px;
}

.school-editing-box {
  margin: 0 auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 75px;
}

.school-editing-box .form-label {
  padding: 0;
}

.school-editing-box h1 {
  margin-top: 50px;
}

.form-control {
  border: 2px solid black
}

/* My Profile */

.my-profile {
  padding-top: 75px;
  display: flex;
}

.my-profile-picture-box {
  background-color: #F2EECE;
  width: 35%;
  height: 100vh;
}

.my-profile-info {
  width: 65%;
  padding: 50px 7.5%;
}

.info-container .row:nth-of-type(1) {
  border-top: 1px solid rgb(196, 196, 196);
}

.info-container .row:nth-of-type(n) {
  border-bottom: 1px solid rgb(196, 196, 196);
}

.my-profile-info h5 {
  font-weight: 300;
}

.picture-container {
  width: 40%;
  margin: 0 auto;
}

.picture-container img {
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  margin: 0 auto;
}

.change-profile-btn {
  border: none;
  margin: 0 auto;
  width: 100%;
}

.edit-user-info-btn {
  border: none;
  width: 50%;
}

.link-change-password {
  text-align: end;
}

/* My Profile Edit */

.my-profile-edit {
  padding-top: 75px;
}

/* Change Password Page */

.change-password-page {
  padding-top: 75px;
}

.edit-save-btn,
.edit-cancel-btn {
  width: 100%;
}

/* School Register */

.school-register {
  padding-top: 75px;
}

.school-register-btn {
  width: 100%;
}

.reply-text {
  font-size: medium;
  text-align: center;
  color: rgb(148, 148, 148);
}

/* General Button Style (Link)*/

.link-btn-text {
  color: inherit;
  text-decoration: none;
}

.school-payment {
  padding-top: 75px;
}

.schoolpay-qr {
  width: 100px;
  height: 100px;
  background-color: #354052;
}

/* Course Detail */

.course-detail {
  padding-top: 75px;
}

.course-detail-img {
  height: 197px;
  width: 350px;
  border: 3px black solid;
  border-radius: 25px;
  object-fit: contain;
  overflow: hidden;
}

.course-detail-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.course-detail-text > * {
  height: 100%;
}

.right-course-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
}

.left-course-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-main-detail {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFF6BF;
}

.duration-list > * {
  margin: 0;
}


.course-teachers-box {
  margin-left: 20%;
}

.course-teacher-card {
  display: flex;
}

.course-teacher-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px black solid;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.course-teacher-link {
  text-decoration: none !important;
  color: #000000;
}

