.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter{
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.counter h1{
  font-size: 50px;
}

.counter button{
  font-size: 36px;
  width: 50px;
}

/* Homepage CSS */

.homepage {
  background: url('./img/bg-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
  position: relative;
  min-height: 100vh;
  color: white;
}

.app-logo {
  margin: 10px;
  position: absolute;
  width: 4.5rem;
}

.homepage h1 {
  font-size: 75px;
  padding: 0;
  margin: 0;
}

.main-container {
  text-align: center;
  padding-top: 12.5%;
}

.sub-text {
  margin: 30px 0 80px 
}

.sub-text h2 {
  font-size: 30px;
  margin: 0;
}

.enter-btn {
  background-color: none;
}

.link-text {
  font-size: 20px;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  width: 50px;
  border: 3px white solid;
  border-radius: 10px;
}

.link-text:hover {
  background-color: rgba(255,255,255, 0.2);
  transition: background-color 0.5s;
}